.heroesContainer{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.imageContainer{
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
}
.imageContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}